# 실습 3
회사에서 새롭게 런칭한 디지털 콘텐츠 상품을 고객들을 대상으로 판매하는 방안을 데이터를 바탕으로 수립하고자 합니다.
구체적으로는,
 - 1) 고객들의 온라인 리뷰 데이터를 바탕으로 적절한 고객群을 발견하여 고객들에 대한 이해를 하고,
 - 2) 고객들이 생성했던 제품 구매 Transaction자료를 바탕으로 판매 패턴을 발견합니다.
 - 3) 프로모션 후 생성된 텍스트 데이터를 바탕으로 제품 판매 활동에 대한 평가를 하고자 합니다.


<대상 데이터>
 - 온라인 리뷰 데이터: data_1_2.csv
 - 제품 구매 이력 데이터: data_3.csv
 - 고객 피드백 데이터: data_5_2.csv

In [2]:
import pandas as pd 

df1 = pd.read_csv("data/data_1_2.csv")
df2 = pd.read_csv("data/data_3.csv")
df3 = pd.read_csv("data/data_5_2.csv")

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19225 entries, 0 to 19224
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ufb         19225 non-null  int64
 1   usefulness  19225 non-null  float64
 2   experience  19225 non-null  int64
 3   numofrv     19225 non-null  int64
 4   lenrv       19225 non-null  float64
 5   dup         19225 non-null  int64
 6   score       19225 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 1.0 MB

In [3]:
df1.drop(["dup","score","ufb"], axis=1, inplace=True)

In [4]:
from sklearn.preprocessing import MinMaxScaler
sc1 = MinMaxScaler().fit_transform(df1)
df1_sc = pd.DataFrame(sc1, columns= df1.columns)

온라인 리뷰 데이터의 1~5번 변수에 대하여, K-means 클러스터링을 통해 고객 군집을 발견하세요. 이때 데이터 크기를 최소-최대 정규화를 적용하여 클러스터링하세요. 반복문을 사용하시어, K가 2,4,6,8일때의 Between Sum of Squares(모형의 inertia)를 비교해보세요. 그리고 k=8에서의 각 군집의 특성을 파악해보세요

In [12]:
from mlxtend.preprocessing import TransactionEncoder

from sklearn.cluster import KMeans

for i in [2, 4, 6, 8, 10, 12]:
  print(i)
  print( KMeans(n_clusters=i).fit(df1_sc).inertia_ )

cluster = KMeans(n_clusters=8).fit(df1_sc)
pd.DataFrame( cluster.cluster_centers_, columns = df1.columns)

2

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

800.7174219755065
4

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

300.8622391671181
6

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

177.2463376394128
8

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

130.48959958750456
10

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

102.91041734735592
12

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

88.28049509386429

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

   usefulness  experience   numofrv     lenrv
0    0.751476    0.011823  0.002366  0.045395
1    0.018145    0.003933  0.000412  0.031171
2    0.986333    0.005088  0.000733  0.043070
3    0.469491    0.412556  0.016288  0.044259
4    0.515538    0.012413  0.002110  0.040128
5    0.862022    0.282815  0.015159  0.051569
6    0.282550    0.011385  0.001324  0.036853
7    0.822148    0.636344  0.031160  0.050068

# 실습 4

제품 구매이력 데이터로 부터, 기존 제품의 판매 패턴을 mlxtend 모듈을 사용해서 발견해보세요. 최소 지지도는 0.01이상이며, 그 외의 지표는 상황에 맞게 설정하세요

- 1행 부터 20000행까지 사용해보세요
- fpgrowth를 사용해보세요

In [14]:
import mlxtend
from mlxtend.frequent_patterns import apriori, fpgrowth, association_rules

df2.shape
#df2 = df2.iloc[0:20000, :]

(19999, 3)

In [15]:
df2['artist'] = df2['artist'].str.strip()#앞뒤 공백 제거
df2.dropna(axis=0, subset=['user'], inplace=True)
df2['user'] = df2['user'].astype('str')		#문자열로 변환

In [16]:
df2_tmp = df2.groupby('user')['artist'].apply(set).apply(list).to_list()
print(df2_tmp[:10])

[['judas priest', 'dropkick murphys', 'red hot chili peppers', 'edguy', 'the killers', 'john mayer', 'the who', 'guano apes', 'jack johnson', 'le tigre', 'the rolling stones', 'schandmaul', 'goldfrapp', 'rob zombie', 'the black dahlia murder', 'eluveitie'], ['placebo', 'amy macdonald', 'amy winehouse', 'dido', 'manu chao', 'coldplay', 'natasha bedingfield'], ['satyricon', 'katatonia', 'moonspell', 'bloodbath', 'the birthday massacre', 'pain of salvation', 'agalloch', 'aphex twin', 'dead can dance', 'behemoth', 'porcupine tree', 'opeth', 'eluveitie'], ['billy talent', 'radiohead', 'nofx', 'red.jumpsuit.apparatus', 'alkaline trio', 'the shins', 'the cure', 'cute is what we aim for', 'motion city soundtrack', 'oasis', 'blink-182', 'rise against', 'goldfinger', 'anti-flag', 'good charlotte', 'the used', '44', 'jimmy eat world', 'silverstein', 'u2', 'circa survive'], ['elton john', 'grateful dead', 'steely dan', 'black label society', 'iron maiden', 'black sabbath', 'jethro tull', 'frank zappa', 'king crimson', 'genesis', 'judas priest', 'bob dylan', 'the beatles', 'simon & garfunkel', 'john lennon', 'stone temple pilots', 'the doors', 'pink floyd', 'queen', 'billy joel', 'buckethead', 'david bowie', 'alice in chains', 'dio', 'metallica', 'joe satriani', 'rainbow', 'alice cooper', 'rush', 'ozzy osbourne', 'the who'], ['the hush sound', 'metro station', 'dashboard confessional', 'frank sinatra', 'okkervil river', 'sarah mclachlan', 'third eye blind', 'taking back sunday', 'bob dylan', 'mgmt', 'the new pornographers', 'sara bareilles', 'the beatles', 'sigur rós', 'modest mouse', 'sufjan stevens', 'norah jones', 'animal collective', 'stars', 'the faint', 'snow patrol', 'tegan and sara', 'atmosphere', 'tokyo police club', 'joshua radin', 'something corporate', 'vampire weekend', 'damien rice'], ['the offspring', 'ramones', 'håkan hellström', 'system of a down', 'neil young', 'judas priest', 'the clash', 'slipknot', 'bob dylan', 'metallica', 'the beatles', 'misfits', 'pink floyd', 'turbonegro', 'u2'], ['armin van buuren', 'amy macdonald', 'infected mushroom', 'david guetta', 'stone sour', 'eagles of death metal', 'sonata arctica', 'jason mraz', 'the cardigans', 'disturbed', 'oasis', 'lily allen', 'system of a down', 'benny benassi', 'garbage', 'seether', 'lenny kravitz', 'mando diao', 'paramore', 'atb', 'snow patrol', 'james morrison', 'heaven shall burn', 'the vines', 'hammerfall', 'coldplay', 'the fray'], ['tori amos', 'kate bush', 'fleetwood mac', 'a-ha', 'neil young', 'kraftwerk', 'nick drake', 'duran duran', 'pj harvey', 'bee gees', 'sade', 'the beatles', 'amy winehouse', 'kent', 'portishead', 'paul mccartney', 'imogen heap', 'nina simone'], ['jefferson airplane', 'koЯn', 'red hot chili peppers', 'beastie boys', 'kasabian', 'green day', 'the prodigy', 'rage against the machine', 'the kinks', 'the offspring', 'simple plan', 'nirvana', 'system of a down', 'the killers', 'the white stripes', 'good charlotte', 'ramones', 'kaiser chiefs', 'papa roach', 'sex pistols', 'franz ferdinand', 'metallica', 'limp bizkit', 'sum 41']]

In [19]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit_transform(df2_tmp) # df_tmp를 장바구니 형태로 변경 (fit과 transform을 동시에 진행)
print(te_ary)
df2_a = pd.DataFrame(te_ary, columns=te.columns_) # label 정보는 te.columns_에 저장되어 있으므로, 해당 값을 칼럼명으로 하는 데이터 프레임으로 변경.
#df.head()

[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False False ... False False False]
 [False False False ... False False False]
 [False  True False ... False False False]]

In [20]:
frequent_itemsets = fpgrowth(df2_a, min_support=0.05, use_colnames=True) # 여기서는 0.05를 기준으로 선정
frequent_itemsets.sort_values(by='support', ascending=False)

tmp = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
tmp
tmp.sort_values(by = ['confidence', 'lift', 'support'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(coldplay),(radiohead),0.149357,0.201780,0.065282,0.437086,2.166147,0.035145,1.418014,0.632875
2,(the beatles),(radiohead),0.190900,0.201780,0.071217,0.373057,1.848827,0.032697,1.273193,0.567441
3,(radiohead),(the beatles),0.201780,0.190900,0.071217,0.352941,1.848827,0.032697,1.250427,0.575176
0,(radiohead),(coldplay),0.201780,0.149357,0.065282,0.323529,2.166147,0.035145,1.257472,0.674440

# 실습5

고객 피드백을 통해 판촉에 대한 긍부정에 대한 데이터가 텍스트로 기록되어 있습니다. 텍스트마이닝을 거쳐, 중빈도(10~30)에 해당하는 단어들로 구성된 DTM이 data_5_2.csv 로 제공됩니다. 해당 파일의 첫 컬럼은 고객의 피드백이 긍정(1)인지 부정(0)인지 기록되어 있습니다. 이 데이터에서 긍정인 경우에 대한 피드백 단어들의 클러스터링을, 부정인 피드백에 대한 피드백 단어들의 발생패턴을 수행해보세요.

In [30]:
df3_0 = df3[df3.iloc[:,0]==0]  # pattern
df3_1 = df3[df3.iloc[:,0]==1]  # kmeans

In [22]:
#Kmeans
from sklearn.preprocessing import MinMaxScaler
scaled = MinMaxScaler().fit_transform( df3_1)
scaled_df = pd.DataFrame( scaled, columns = df3_1.columns)
scaled_df.drop( "Unnamed: 0", axis=1, inplace=True)

In [26]:
from sklearn.cluster import KMeans
km = KMeans().fit(scaled_df)
pd.DataFrame( km.cluster_centers_, columns=scaled_df.columns).iloc[:, 0:11]

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

,great,ask,card,give,love,problem,purchas,return,back,buy,good
0,-8.326673e-17,0.018018,0.040541,0.027027,0.094595,4.054054e-02,6.081081e-02,0.040541,1.801802e-02,0.135135,1.081081e-01
1,1.000000e+00,0.000000,0.000000,0.000000,0.000000,6.938894e-18,1.387779e-17,0.166667,-6.938894e-18,0.000000,8.333333e-02
2,0.000000e+00,0.000000,0.000000,1.000000,0.000000,1.000000e+00,0.000000e+00,0.000000,1.000000e+00,0.000000,0.000000e+00
3,0.000000e+00,1.000000,0.000000,0.000000,0.500000,0.000000e+00,5.000000e-01,0.000000,6.666667e-01,0.000000,0.000000e+00
4,0.000000e+00,0.111111,0.000000,0.166667,0.000000,6.938894e-18,1.387779e-17,0.041667,5.555556e-02,0.083333,1.387779e-17
5,0.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000e+00,7.500000e-01,0.000000,3.333333e-01,0.500000,1.000000e+00
6,0.000000e+00,0.000000,0.250000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.500000,0.000000e+00
7,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00

In [31]:
#df3_0.columns
df3_0.drop( "Unnamed: 0", axis=1, inplace=True)

/var/folders/bx/zv234tzj43l4hqdbys0hclvw0000gn/T/ipykernel_40693/849230255.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_0.drop( "Unnamed: 0", axis=1, inplace=True)

In [32]:
#pattern
#binarize
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
df3_0_bin = df3_0.applymap(encode_units)
df33 = pd.DataFrame(df3_0_bin, columns=df3_0.columns)
df33.head()

,great,ask,card,give,love,problem,purchas,return,back,buy,...,price,address,compani,find,kohl,target,deliv,pick,deliveri,sear
1,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
6,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True) # 여기서는 0.05를 기준으로 선정
frequent_itemsets.sort_values(by='support', ascending=False)

tmp = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
tmp.sort_values(by = ['confidence', 'lift', 'support'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(coldplay),(radiohead),0.149357,0.201780,0.065282,0.437086,2.166147,0.035145,1.418014,0.632875
2,(the beatles),(radiohead),0.190900,0.201780,0.071217,0.373057,1.848827,0.032697,1.273193,0.567441
3,(radiohead),(the beatles),0.201780,0.190900,0.071217,0.352941,1.848827,0.032697,1.250427,0.575176
0,(radiohead),(coldplay),0.201780,0.149357,0.065282,0.323529,2.166147,0.035145,1.257472,0.674440